{% extends 'index.html' %}

{% block booktable %}
    {% load rest_framework %}
    <br>
    <div class="container">
        <div class="row">

            <div class="col">
                <form class="row g-3 " id='put_form' action="#" data-method="#">
                    {% render_form serializer %}
                </form>
            </div>


        </div>
        <br>
        <div class="row justify-content-between">
            <div class="col-md-auto" ><button class="btn btn-primary" type="button" onclick="func_put()">Сохранить</button></div>
            <div class="col-md-auto"><button class="btn btn-danger" type="button" onclick="func_delete()">Удалить</button></div>
        </div>
    </div>


    <script>
        function func_put() {
            let form = document.getElementById('put_form');
            let formData = new FormData(form);

            let xhr = new XMLHttpRequest();
            xhr.open('PUT', "{% url 'book-detail' book.id %}?format=html");
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            xhr.send(formData);
             xhr.onloadend = function() {
                if (xhr.status == 200) {
                    window.location.href = "{% url 'book-list' %}?format=html";
                } else {
                    form.innerHTML=xhr.response;
                }
             };
        }
        function func_delete() {
            let xhr = new XMLHttpRequest();
            xhr.open('DELETE', "{% url 'book-detail' book.id %}");
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            xhr.send();
             xhr.onloadend = function() {
                if (xhr.status == 200) {
                    window.location.href = "{% url 'book-list' %}?format=html";
                } else {
                    alert(xhr.satus+" "+xhr.response);
                }
             };
        }
    </script>

{% endblock %}