{% extends 'index.html' %}

{% block booktable %}
    {% load rest_framework %}
    <br>
    <div class="container">
        {% if books %}
        <div class="row align-items-center">
            <div class="col col-lg" >
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for key, value in books.0.items %}
                                    <th>{{key}}</th>
                                {% endfor %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for row in books %}
                                <tr onclick="window.location='{% url 'book-detail' row.id %}?format=html';">
                                    {% for key, value in row.items %}
                                        <td>
                                            {{value}}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}


                        </tbody>

                    </table>

            </div>

        </div>
        {%endif%}
        <br>
        <hr>
        <div class="row align-items-center">
            <div class="col-md-auto ">
                {% for row in all_fields %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="{{row.column_name}}" {% if row.is_visible %} checked {%endif%} onclick="change_visible({{row.id}}, '{{row.is_visible}}');">
                        <label class="form-check-label" for="{{row.column_name}}">{{row.column_name}}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <form action="{% url 'book-list' %}?format=html" method="POST">
                {% csrf_token %}
                {% render_form create_form %}
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </form>
            </div>

        </div>
    </div>
    <script>
        function change_visible(id, visible){
            let v = (visible==="True")

            let xhr = new XMLHttpRequest();
            xhr.open('PATCH', "/profiles/"+id+"/");
            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.send(JSON.stringify({'is_visible':!v}));
            xhr.onloadend = function() {
                if (xhr.status == 200) {
                    window.location.href = "{% url 'book-list' %}?format=html";
                } else {
                    alert(xhr.status+" "+xhr.response);
                }
             };
        };
    </script>

{% endblock %}