<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
          display: grid;
          gap: 20px;

          /* ! */
          grid-template-columns: 200px auto 100px;
        }
    </style>
</head>
<body>
    {{data}}<br><br>
    <table>
    {% for row in data %}
    <tr>
        {{row}}<br>
        {% for key, value in row.items %}
        <td colspan="2">
            {{value}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <div class="container">
        <div visible="false">A</div>
        <div>B</div>
        <div>C</div>
    </div>
</body>
</html>