{% extends 'index.html' %}

{% block booktable %}
    {% load rest_framework %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                {% for f in fields %}
                    <th>{{f}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in books %}
                <tr onclick="window.location='{% url 'book-detail' row.id %}?format=html';">

                    {% for key, value in row.items %}
                        <td>
                            {{value}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}


        </tbody>

    </table>

    <div class="container">
        <form action="{% url 'book-list' %}?format=html" method="POST">
            {% csrf_token %}
            {% render_form create_form %}
            <button type="submit">Добавить</button>
        </form>
    </div>

{% endblock %}